@charset "UTF-8";
/* CSS Document */

body{
	background-color: whitesmoke;
	font-family: Arial, Helvetica, san-serif;
	font-size: medium;
	color: black;
	
}

header{
	width: 900px;
	height: 200px;
	background-color: #3d639c;
	text-align: center;
	padding-top: 10px;
	margin: auto;
}

section{
	width: 900px;
	background-color: antiquewhite
	background-repeat: repeat-y;
	overflow: hidden;
	margin: auto;
}

nav{
	float: left;
	width: 250px;
}

article{
	float: left;
	width: 650px;
	text-align: center;
}

footer{
	text-align: center;
	width: 900px;
	height: 70px;
	background-color: #3d639c;
	margin: auto;
}

.logoleft{
	float: left;
	padding-top: 0px;
	padding-left: 15px;
}

nav a{
	boder: 6px inset #CCCCCC;
	background-color: #bd3c25;
	line-height: 250%;
	font-weight: bold;
	font-size: 35px;
	color: white;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20px;
	font-family: Vivaldi;
}

nav a:hover{
	color: #cfc7b4;
	border: 2px outset #CCCCCC;
}

h1{
	color: #81191b;
	text-align: center;
	font-size: xx-large;
}

p{
	color: black;
}